<nav class="navbar  navbar-dark  bg-dark">
        <a class="navbar-brand" href="/" routerLinkActive="active">To Do App</a>
        <a class="navbar-brand" routerLink = "track-mobile-cmp" routerLinkActive="active"> Locate Mobile</a>
        <a class="navbar-brand" routerLink = "app-like-trello" routerLinkActive="active"> Draggable Todo</a>
        <a class="navbar-brand" routerLink = "app-mongo-todo" routerLinkActive="active"> MEAN Todo</a>
</nav>

<router-outlet></router-outlet>


<footer class="container-fluid bg-dark custom_footer">
        <p>&copy; Habilelabs 2018-2019</p>
</footer>
