<nav class="navbar  navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="http://localhost/todo_app/main.html">To Do App</a>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
        <div class="container">
                <div class="row">
                        <div class="col-lg-3 remainingcountcss ">
                        </div>
                        <div class="col-lg-6 ">
                                <input class="form-control" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
                        </div>
                        <div class="col-lg-3 donecountcss  ">
                        </div>
                </div><!-- /.row -->
        </div>
</div>

<!-- <> -->
<div style="text-align: center">
        <ul class="list-group ulcss">
                <!-- <li class="list-group-item ">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1"></label>
                    </div>
    
                     <button class="destroy close deletetodo close" >&times;</button>   
                     </li> -->
                <!--  <li class="list-group-item ">Second item</li>
                    <li class="list-group-item ">Third item</li>
                    <li class="list-group-item ">Third item</li>
                    <li class="list-group-item ">Third item</li>
                    <li class="list-group-item ">Third item</li>
                    <li class="list-group   -item ">Fourth item</li> -->
        </ul>

        <div class="btn-group  btncss" role="group">
                <!-- <a href="#" class="btn  btn-secondary w-100 all_todos_show">0</a> -->
                <a href="#" class="btn  btn-secondary w-100 all_todos_show">All</a>
                <a href="#" class="btn  btn-secondary w-100 completed">Completed</a>
                <a href="#" class="btn  btn-secondary w-100 uncompleted">Uncompleted</a>
                <!-- <a href="#" class="btn  btn-secondary w-100 all_todos_show">Clear completed</a> -->

        </div>


        <!-- </center> -->
</div>
<footer class="container-fluid bg-dark custom_footer">
        <p>&copy; Habilelabs 2018-2019</p>
</footer>