
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row" >
      <div class="col-lg-3 remainingcountcss ">
      </div>
      <div class="col-lg-6 ">
        <input class="form-control" type="text" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
      </div>
      <div class="col-lg-3 donecountcss  ">
      </div>
    </div><!-- /.row -->
  </div>
</div>


<!-- <> -->
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <ul class="list-group ulcss">
      <!-- <li class="list-group-item ">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1"></label>
          </div>
           <button class="destroy close deletetodo close" >&times;</button>
           </li> -->

      <!--<script>console.log(todoStore.todos);</script>-->
      <li *ngFor="let todo of todoArray let i = index"  class="list-group-item">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" id="customCheck{{i}}"  (click)="toggleCompletion(todo)" [checked]="todo.completed">
          <label class="custom-control-label" for="customCheck{{i}}" (dblclick)="editTodo(todo)">{{todo.title}}</label>
        </div>
        <button class="destroy close deletetodo" (click)="remove(todo)">&times;</button>
        <!--<input class="edit" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">-->
      </li>
    </ul>
  </div>
  <div class="col-lg-3"></div>
  <!--<div class="btn-group  btncss" role="group">-->
    <!--&lt;!&ndash; <a href="#" class="btn  btn-secondary w-100 all_todos_show">0</a> &ndash;&gt;-->
    <!--<button class="btn  btn-secondary w-100 all_todos_show" (click) = "showAllTodos()"  >All</button>-->
    <!--<button class="btn  btn-secondary w-100 completed" (click) = "showCompleted()"> Completed</button>-->
    <!--<button class="btn  btn-secondary w-100 uncompleted" (click) = "showNotDone()">Uncompleted</button>-->
    <!--&lt;!&ndash; <a href="#" class="btn  btn-secondary w-100 all_todos_show">Clear completed</a> &ndash;&gt;-->

  <!--</div>-->

</div>
